$grey-20: rgba(0,0,0,0.2);
$grey-80: rgba(0,0,0,0.8);
$soma-blue: #00c2f2;

$lowbarHeight: 60px;

@mixin transition($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-ms-transition: $time;
	-o-transition: $time;
	transition: $time;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

body {
	font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	height: 100%;
	color:#777;
	background-color: #222;
}

p {
	line-height:1.8;
}

strong {
	font-weight: 500;
	color: #444;
}

a {
	text-decoration:none;
	color:#5badf0;
}

#wrapper {
	margin:0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: scroll;
	background-color: #FFF;
}

/* Link to Documentation */
a#documentation {
	position: fixed; top: 11px; right: 9px;
	background: #5badf0; color: #fff;
	padding: 8px 12px;
	font-size: 13px; font-weight: 600; line-height: 1.35;
	border-radius: 3px; z-index: 100;
}

/* Horizontally and vertically centers the text */
.center {
	margin: 0 auto;
	padding:0 40px 0 40px;
	max-width:600px;
	position: relative; top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* Typography */


#logo {
	margin: auto;
    top: 300px; left: 40px;
    position: fixed;
    width: 52px;
    height: 232px;
    @include transition(0.5s);

    &.open {
    	top: 30px !important;
    }
}

h1, h2, h3, h4 {
	margin-top: 0
}

h1 {
	font-size: 7em;
}

h2 {
	font-size: 2em;
	margin: .5em 0;
}

h3 {
	font-size: 2em;
	font-weight: 600;
}

.oswald {
	text-transform: uppercase;
	font-family: "oswald", arial, sans-serif;
	font-weight: 200;
}


#swipelogo {
	text-align: center;
}

/* Color */

.white {
	color: #FFF;
}

.grey-10 {
	color: rgba(0,0,0,0.1);
}

/* Tile Grid */

.tile {
	background-color: $grey-20;
	width: 20%;
	height: 200px;
	float: left;
	// border: 1px solid $grey;
	transition: background-color 1s, box-shadow 0.5s;
	-webkit-transition: background-color 1s, box-shadow 0.5s; /* Safari */
	opacity: 0.2;
	overflow: hidden;
}

.tile:hover {
	opacity: 0.8;
	background-color: rgba(0,0,0,0.15);
	// box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	transition: background-color 0.5s, box-shadow 0.5s;
	-webkit-transition: background-color 0.5s, box-shadow 0.5s; /* Safari */
}

.tile img {
	-webkit-transform: scale(1);
	transition: 0.5s;
	webkit-transition: 0.5s;
	width: 100%;
	position: relative;
	top: -90px;
}

.tile img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.last-tile {
	background-color: $grey-80 !important;
	position: fixed;
	right: 0;
	bottom: 0;
}

#message {
	z-index: 500;
	width: 700px;
	height: 100px;
	position: fixed !important;
	text-align: center;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

#message h1 {
	line-height: 45px;
	font-size: 7em;
	cursor: pointer;
	@include transition(0.3s);

	&:hover {
		color: $soma-blue;
		@include transition(0.3s);
	}
}





.lowbar {
	@include transition(0.7s);
	position: fixed;
	background-color: $soma-blue;
	width: 100%;
	bottom: -307px;
	left: 0;
	z-index: 1000;
	text-align: center;
	height: 300px;
	transition: bottom 0.7s;
	color: white;
	cursor: pointer;

	.upper {
		
		height: $lowbarHeight;
		padding-top: 10px;

	}

	.manifesto { 
		position: relative;
		top: 200px;
		@include transition(0.7s);
		border: 2px solid #FFF;
		padding: 50px 30px;

		p {
			font-size: 0.9em;
			margin-bottom: 1em;
		}
	}
	
	.btn.read {
		opacity: 1.0;
		border: 2px solid #FFF;
		font-size: 1.1em;
		letter-spacing: 1px;
		font-weight: 400;
		border-radius: 30px;
		padding: 0.2em 1em;
		@include transition(0.3s);

		&:hover {
			color: $soma-blue;
			background-color: #FFF;
		}
	}

	&.open {

		cursor: default;
		
		bottom: 0px !important;

		.manifesto {
			top: -50px;
		}
		
		.btn.read {
			opacity: 0.0;
		}
	}

}


.top {
	z-index: 99999;
}

/* Mobile */

@media only screen and (max-device-width: 480px) {

	h1 {
		font-size: 2em;
	}

}
